/* change font of webpage to Ariel */
body {
    font-family: Arial;
}

/* center header 3 */
h3 {
    text-align: center;
}

/* center header 5 */
h5 {
    text-align: center;
}

/* format events div */
.events {

    display: flex;
    justify-content: center;

}

/* format scatter div */
#scatter {

    width: 60%;
    align-self: center;
    display: flex;
    justify-content: center;
}

/* format selection div */
#selection {

    width: 40%;
    align-self: center;
}

/* format line div */
line {

    stroke: black;
    stroke-width: 4;
    justify-content: center;

}

/* choose circle color */
circle {
    fill: blue;
}

/* circle hover color */
circle:hover {

    fill: green;
}

/* format red tag */
.red {

    stroke: red;
    stroke-width: 3;
}