body {
    font-family: Arial;
}

h3 {
    text-align: center;
}

h5 {
    text-align: center;
}

.events {

    display: flex;
    justify-content: center;
    height: 75vh;

}


#scatter {

    width: 60%;
    align-self: center;
    display: flex;
    justify-content: center;
}

#selection {

    width: 40%;
    align-self: center;
}


line {

    stroke: black;
    stroke-width: 4;
    justify-content: center;

}

circle {
    fill: blue;
}

circle:hover {

    fill: green;
}

.red {

    stroke: red;
    stroke-width: 3;
}